################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TheHotelApp/bin/Debug/netcoreapp2.0
/TheHotelApp/obj/Debug/netcoreapp2.0
/TheHotelApp/obj
